* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 12px;
}

body {
	font-family: Monaco, Menlo, Consolas, "Microsoft Yahei", "Courier New", monospace;
	background-color: @lightGray;
}

section {
	margin: 20px;
}

@gray: #CCCCCC;
@lightGray: #f5f7f9;
@deepGray: #9AA0AA;
@blue: #4D8FFD;
@deepBlue: #4C8CF4;
@red: #D9534F;
@white: #FFF;
@black: #393d44;
@fontBlack: #666666;
@green: #50af51;

h1,
h2,
h3,
h4 {
	color: @black;
	font-weight: 700;
	line-height: 1;
	padding: 10px 0;
}

h1 {
	font-size: 1.6rem;
}

h2 {
	font-size: 1.4rem;
}

h3 {
	font-size: 1.2rem;
}

h4 {
	font-size: 1.1rem;
}

ul {
	list-style: none;
}

a {
	color: @fontBlack;
	text-decoration: none;
}

#header {
	background-color: @deepBlue;
	padding: 15px 0 40px 0;

	.inner {
		max-width: 1070px;
		margin: 0 auto;
	}

	.navs {
		float: right;
		margin-top: 10px;
		display: inline-block;

		li {
			display: inline-block;
		}

		a {
			color: #ABC0F5;
			font-size: 1.2rem;
			padding: 5px 10px;
		}

		.curr,
		a:hover {
			color: @white;
			border-bottom: 2px solid @white;
		}

	}

}

#footer {
	color: @deepGray;
	min-height: 60px;
	max-width: 1070px;
	margin: 0 auto;
}

#logo {
	display: inline-block;
	text-indent: -99999px;
	background: url(../../img/logo.png) no-repeat 50% 50%;
	background-size: 85%;
	width: 100px;
	height: 40px;
}

.clear {
	&:after {
		clear: both;
	}

	&:after,
	&:before {
		display: table;
		content: " ";
	}

}

.container {
	width: auto;
	max-width: 1070px;
	margin: 0 auto;
	background-color: @white;
}

.main {
	margin-top: -26px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.sidebar {
	padding: 0 30px 20px 30px;

	h4 {
		color: @deepGray;
	}

	li {
		padding: 2px 0;
	}

	.widget {
		margin: 0 0 20px 0;
	}

}

.content {
	min-height: 500px;
	border-left: 1px solid #eee;
}

.inner {
	margin-top: 26px;
}

.blockGenerator(@color:@gray) {
	border-left: 4px solid @color;
	background-color: fade(@color, 6%);
}

.block {
	.blockGenerator;
	padding: 12px 14px 10px;
	margin-bottom: 30px;
	word-break: break-all;
	word-wrap: break-word;

	h4 {
		margin-bottom: 10px;
	}

	&.block-blue {
		.blockGenerator(@blue);
	}

	&.block-red {
		.blockGenerator(@red);
	}

	&.block-green {
		.blockGenerator(@green);
	}

}

pre {
	color: #4d4d4c;
	display: block;
	padding: 10px;
	font-family: Consolas;
	word-break: break-all;
	word-wrap: break-word;
	border: 1px solid #cccccc;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 0 0 3px #eee;
}